.container__list {
  width: 100%;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  row-gap: 50px;
  place-items: center;
  @media (max-width: 480px) {
    grid-template-columns: auto;
    grid-column: 1;
    row-gap: 0;
  }
}

.top {
  padding-top: 4rem;
}

.card {
  text-align: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  @media screen and (max-width: 480px) {
    margin-bottom: 50px;
    width: 100vw;
  }
  div {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.container__search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  input {
    margin: 2rem 0;
  }
}

a button {
  padding: 0.5rem;
  font-family: "Montserrat", "sans-serif";
  background-color: #0075be;
  outline: none;
  color: #e3e3e3;
  border-radius: 0.9rem;
  &:hover {
    cursor: pointer;
  }
}
