.spinner {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  border: 6px solid transparent;
  border-bottom-color: #0075be;
  border-top-color: #0075be;
  animation: spin 1s infinite;
  margin-bottom: 1rem;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
