.container__unique {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: auto;

  span {
    margin: 1.5rem 0 0 0;
    font-family: "Montserrat", "sans-serif";
    font-weight: 700;
  }
}

figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  img {
    height: 10rem;
    object-fit: cover;
    object-position: center;
  }
  figcaption {
    font-size: 1.5rem;
    font-family: "Montserrat", "sans-serif";
  }
}

.container__stats {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  place-items: center;
  gap: 1rem;
  background-color: #5ebdfc;
  padding: 0.5rem;
  width: fit-content;
  border-radius: 0.5rem;
}

.container__types {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  text-align: center;
  align-items: center;
}

.container__profil {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 1rem;
  place-items: center;
  background-color: #5ebdfc;
  width: fit-content;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.container__evolution {
  display: grid;
  margin-top: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(150px, 100%), 1fr));
  grid-template-rows: 1;
  gap: 1rem;
  place-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem;
  div {
    display: grid;
    grid-row: 1;
  }
}
